{% extends 'base_resume.html' %}


{% block main_content %}
    <!-- ======= Services Section ======= -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{ my_street }}, {{ my_city }}</p>
              </div>

              <div class="email">
                <a href="mailto:{{ my_email }}" target="_blank"><i class="bi bi-envelope"></i></a>
                <h4>Email:</h4>
                <p><a href="mailto:{{ my_email }}" target="_blank">{{ my_email }}</a></p>
              </div>

              <div class="phone">
                <a href="tel:{{ my_telephone }}" target="_blank"><i class="bi bi-telephone-inbound"></i></a>
                <h4>Call:</h4>
                <p><a href="tel:{{ my_telephone }}" target="_blank">{{ my_telephone }}</a></p>
              </div>

              <div class="phone">
                <a href="https://wa.me/{{ my_telephone }}" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <h4>Whatsapp:</h4>
                <p><a href="https://wa.me/{{ my_telephone }}" target="_blank">{{ my_telephone }}</a></p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1989.9143022507028!2d9.717579933053537!3d4.0553495569674345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1061127eb9d065d9%3A0x19d777c7a6bf7631!2sStade%20Omnisport%20De%20Bepanda!5e0!3m2!1sen!2scm!4v1650619718715!5m2!1sen!2scm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock %}