{% extends 'base_resume.html' %}


{% block main_content %}
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Alex Smith</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div>
            <h3 class="resume-title">Education</h3>

            {% for educ in education %}
            <div class="resume-item">
              <h4>{{ educ.diplome }}</h4>
              <h4>{{ educ.course }}</h4>
              <h5>{{ educ.start }} - {{ educ.end }}</h5>
              <p><em>{{ educ.school }}</em></p>
              <p>{{ educ.detail }}</p>
            </div>
            {% endfor%}

          </div>


          <!-- PROFFESIONAL EXPERIENCE -->
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>

            {% for profEx in profexp %}
            <div class="resume-item">
              <h4>{{ profEx.position }}</h4>
              <h5>{{ profEx.start }} - {{ profEx.end }}</h5>
              <p><em>{{ profEx.company }}</em></p>

              <ul>
                <li>{{ profEx.description1 }}</li>
                <li>{{ profEx.description2 }}</li>
                <li>{{ profEx.description3 }}</li>
                <li>{{ profEx.description4 }}</li>
              </ul>

            </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

{% endblock %}